{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BLOG_POST</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>

    <!--This section contains login portion which is based on html form-->
    <div id="login_corners">
        <h2>Sign up</h2>
        <form method="post">
            {% csrf_token %}
            <p>Username:</p>
            <input type="text" name="username">
            <p>Password:</p>
            <input type="password" name="password">
            <p></p>
            <button type="submit" value="login_to" name="login-click">Login</button>
        </form>
    </div>


    {{error}}
    <!-- This section contains registration portion of the web page which is based django inbuilt form-->
    <div id="signup_corners">
        <h2>Sign up</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
            {% endfor %}
            <button type="submit" value="signup_to" name="signup-click">Sign up</button>
        </form>
    </div>
    <script src="{% static 'index.js' %}"></script>
</body>
</html>